export(Frequencies)
export(genetic.distance)
export(genetic.diversity)
export(genetic.structure)
export(google.pie.chart)
export(Locus)
export(pies.on.map)
export(plot.genetic.diversity)
export(plot.genetic.structure)
export(popgraph.on.map)
export(population.graph)
export(Population)
export(print.genetic.diversity)
export(print.genetic.structure)
export(print.summary.gstudio)
export(read.population)
export(stratum.distance)
exportClasses(Frequencies)
exportClasses(Locus)
exportClasses(Population)
exportMethods("[")
exportMethods("[<-")
exportMethods(allele.frequencies)
exportMethods(as.character)
exportMethods(as.vector)
exportMethods(column.names)
exportMethods(genotype.counts)
exportMethods(get.frequencies)
exportMethods(he)
exportMethods(ho)
exportMethods(indices)
exportMethods(is.heterozygote)
exportMethods(is.na)
exportMethods(length)
exportMethods(multivariate.loci)
exportMethods(names)
exportMethods(partition)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
