export(congruence.graph)
export(congruence.probability)
export(exclusion.probability)
export(Frequencies)
export(genetic.distance)
export(genetic.diversity)
export(genetic.structure)
export(google.pie.chart)
export(Locus)
export(minus.mom)
export(offspring.array)
export(paternity.spiderplot)
export(paternity)
export(pies.on.map)
export(popgraph.on.map)
export(population.graph)
export(Population)
export(read.pgraph)
export(read.population)
export(stratum.distance)
export(transition.probability)
exportClasses(Frequencies)
exportClasses(Locus)
exportClasses(Population)
exportMethods("[")
exportMethods("[<-")
exportMethods(allele.frequencies)
exportMethods(as.character)
exportMethods(as.vector)
exportMethods(column.class)
exportMethods(column.names)
exportMethods(genotype.counts)
exportMethods(get.frequencies)
exportMethods(he)
exportMethods(ho)
exportMethods(indices)
exportMethods(is.heterozygote)
exportMethods(is.na)
exportMethods(length)
exportMethods(multivariate.loci)
exportMethods(names)
exportMethods(partition)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
S3method(plot,genetic.diversity)
S3method(plot,genetic.structure)
S3method(print,genetic.diversity)
S3method(print,genetic.structure)
S3method(print,paternity)
S3method(print,summary.gstudio)
